

  <!-- Sidebar -->
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
      <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
      <!-- Bootstrap List Group -->
      <ul class="list-group sticky-top sticky-offset">
          <!-- Separator with title -->
          <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
              <small>MAIN MENU</small>
          </li>
          <!-- /END Separator -->

          <!-- Menu with submenu -->
          <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span class="fas fa-apple-alt"></span>&nbsp;
                  <span class="menu-collapsed">Productos</span>
              </div>
          </a>

          <!-- Submenu content -->
          <div id="submenu1" class="collapse sidebar-submenu">
             <a [routerLink]="['products']"  class="nav-link list-group-item list-group-item-action bg-dark text-white">
                <span class="fas fa-clock"></span>&nbsp;
                <span class="menu-collapsed">Ver Productos</span>
             </a>
          </div>

          <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span class="fa fa-user fa-fw mr-3"></span>&nbsp;
                  <span class="menu-collapsed">Administración</span>
              </div>
          </a>

          <!-- Submenu content -->
          <div id="submenu2" class="collapse sidebar-submenu">

          <a [routerLink]="['usuarios']" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="fas fa-clock"></span>&nbsp;
                <span class="menu-collapsed">Listar Usuarios</span>
              </a>
          </div>
      
          <a [routerLink]="['Logout']" class="bg-dark list-group-item list-group-item-action">
                <span class="fas fa-clock"></span>&nbsp;
                <span class="menu-collapsed">Logout</span>
          </a>
          <!-- Separator without title -->
          <li class="list-group-item sidebar-separator menu-collapsed"></li>

      </ul>
      <!-- List Group END-->

  </div>
  <!-- sidebar-container END -->

  
<script>

// Hide submenus
$('#body-row .collapse').collapse('hide'); 

// Collapse/Expand icon
$('#collapse-icon').addClass('fa-angle-double-left'); 

// Collapse click
$('[data-toggle=sidebar-colapse]').click(function() {
    SidebarCollapse();
});

function SidebarCollapse () {
    $('.menu-collapsed').toggleClass('d-none');
    $('.sidebar-submenu').toggleClass('d-none');
    $('.submenu-icon').toggleClass('d-none');
    $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
    
    // Treating d-flex/d-none on separators with title
    var SeparatorTitle = $('.sidebar-separator-title');
    if ( SeparatorTitle.hasClass('d-flex') ) {
        SeparatorTitle.removeClass('d-flex');
    } else {
        SeparatorTitle.addClass('d-flex');
    }
    
    // Collapse/Expand icon
    $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
}
</script>