<div *ngIf="!users">
    <h4 style="background-color: burlywood; color: darkblue">No hay Usuarios para mostrar</h4>
  </div>

  <div *ngIf="users" class="row col-md-12 listado">
  <h3>Lista de Usuarios</h3>

  <div>
    <input class="form-control mr-sm-2 searchInput" style="border-radius: 10px" [(ngModel)]="searchText" placeholder="Buscar">
  </div>

  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr style="background-color: green; color:white">
        <th>UserName</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users | paginate: { itemsPerPage: pageSize, currentPage: pageActual} "> 
 
        <td (click)="Seleccionar(item)">{{item.username}}</td>
        <td (click)="Seleccionar(item)" >{{item.nombre}}</td>
        
        <td><button class="btn btn-warning btn-circle" (click)="Seleccionar(item)"><i class="fa fa-check"></i></button>
            <button class="btn btn-danger btn-circle"  (click)="deleteUser($event, item)"><i class="fa fa-times"></i></button>
        </tr>
  
    </tbody>
   </table>
  </div>

  <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>